@{
    ViewBag.Title = "About";
}
<h2><strong>@ViewBag.Title</strong></h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Maersk Line, move more than cargo. </h3>
    
<p>Whether you run a corner shop or a conglomerate, we have the expertise, global network and stability assist to drive your business forward.</p>

@*<p>Use this area to provide additional information to descirbe your company.</p>*@
