@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<h2>Contact Us</h2>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Contact Number:</strong> <label>03-33228899</label>  @*<a href="mailto:Support@example.com">Support@example.com</a>*@<br />
    <strong>Email:</strong> <a href="mailto:Maersk@outlook.com">Maersk@outlook.com</a>
</address>